<html>
    <div class="forMedia">
  <div fxLayout="row" fxLayoutAlign="center center" >
    
       <!-- reset password form -->
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
     
     
        <!-- material card -->
        
<mat-card class="example-card" [class.mat-elevation-z6]="!isActive">
  <!-- card header -->
  <mat-card-header class="example-header">
      <!-- <img mat-card-image src="../../../assets/fundoo.png" class="align-image"> -->
  <!-- card title -->
      <mat-card-title class="example-name-main"><p>
        <span style='color: blue'>F</span>
        <span style='color: red'>U</span>
        <span style='color: orange'>N</span>
        <span style='color: blue'>D</span>
        <span style='color: green'>O</span>
        <span style='color: red'>O</span>
        <span style='color: blue'>N</span>
        <span style='color: orange'>O</span>
        <span style='color: blue'>T</span>
        <span style='color: green'>E</span>
        <span style='color: red'>S</span>
        <span style='color: orange'>A</span>
        <span style='color: blue'>P</span>
        <span style='color: green'>P</span>
      </p></mat-card-title>
      <!-- card subtitle -->
      <mat-card-subtitle class="example-name">ACCOUNT RECOVERY</mat-card-subtitle>
       
     <!-- end of card subtitle -->
      </mat-card-header>
      
     <p> {{responseMsg}}</p>
<!-- end of card header -->
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput placeholder="email" required />
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      
      <mat-card-actions class="example-button">
        <!-- login button -->
        <button mat-button class="name-link" routerLink="/login">Back</button>
        <!-- reset password button -->
        <button [disabled]="!resetForm.valid" aria-label="Show an example snack-bar" mat-raised-button class="button-colour"><a class="button-name">NEXT</a></button>
          
          
        </mat-card-actions>
        
      </div>
      
      <!-- end of material card -->
      
  </mat-card>
  
  
  <!-- end of form -->
  </form>
</div>
</div>
  </html>