
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="row justify-content-center align-items-center">Admin Login</h3>
                    <!-- unauthorized error message-->
                    <div class = "alert alert-danger" *ngIf="errorMsg">
                        {{errorMsg}}
                    </div>
                    <form class="align-form" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <!-- email -->
                          <label for="exampleInputEmail1">Email address</label>
                          <input  type="email"  class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          
                        </div>
                        <div class="form-group">
                            <!-- password -->
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" [class.is-invalid]="loginForm.get('password').touched" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
                       <div *ngIf="loginForm.get('password').touched">
                          <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">password required</small>
                        </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
