
.card{
    width: 350px;
    border-radius: 10px;
    border-spacing: 5px;
    
}

.container{
    width: 100%;
    background-color: bisque;
}
@media(max-width:425px){
   
        .card{
            width: 350px;
            border-radius: 10px;
            border-spacing: 5px;
            
        }
    
}