<form [formGroup]="profileForm">
  <div fxLayout="row" fxLayoutAlign="start start">
    <h1 class="mat-h1 colorheading">File Upload</h1>
  </div>

  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="space-around center">




    <div class="form-group selectbutton">
      <label class="fileContainer">
        <img src="../../../assets/images/profilechange.png" *ngIf="flag==false" class="imageopacity">
        <input type="file" name="imageUrl" (change)="onSelectedFile($event)" class="addimage" />
      </label>
    </div>
    <image-cropper *ngIf="flag==true" [imageChangedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)">

    </image-cropper>






    <div fxLayout="row" fxLayoutAlign="space-between center" class="buttonalign">
      <button mat-raised-button (click)="onSubmit(croppedImage)" class="uploadcolor">Upload</button>
      <button mat-raised-button (click)="onNoClick()" class="cancelcolor">cancel</button>

    </div>
  </div>
</form>