@import "../../styles/colors.scss";

.fundoobutton{
    background-color: $yellow;
    border-radius: 55px;
    color: $white;
}
mat-horizontal-stepper{
    max-width:500px;
    padding-top: 15px;
    padding-left: 15px;
    height: 1px;
    margin-top: -32px;
}
/deep/ .mat-progress-bar-buffer {
    background-color: black;
}
mat-progress-bar{
    max-width:500px;
    padding-top: 15px;
    padding-left: 15px;
    height: 1px;
    // margin-top: -32px;
}
.widthforshopping{
    max-width: 900px;
}
.icononbar{
    margin: -1;
    margin-left: -505px;
}
.changeicon{
    margin-left: -290px;
}
.changeicons{
    margin-left: -20px;
}
.headings{
    padding-top: 10px;
}
h5{
    color: $gray;
}
/deep/ .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 0px 0px 0px;
    max-width:700px;
}
.cardwidth{
    max-width: 600px;
    border-radius: 10px;
 
}
.innercard{
    max-width: 60px;
    height: 60px;
    background-color: $gray;
    border-radius: 10px;
    color: $white;
    
}
.servicename{
    font-size: 11px;
}
.packdetails{
    font-size: 20px;
    padding-left: 15px;
    color: $bluebutton;
}
  
.bottommenu{
    padding-top: 15px;

}
textarea{
    min-width: 400px;
    height: 50px;
}
mat-label{
    padding-bottom: 10px;
}
.align{
    padding-left: 10px;
}
.paycard{
   
    background-color: #f3f3f3;
    max-width: 150px;
    height: 50px;
    padding-top: 10px;
}
.buttonpay{
    max-width: 162px;
    background-color: $bluebutton;
    color: $white;
 
}
p{
    font-size: 11px;
}
.pricecolor{
    color: $cartprice;
    font-size: 14px;
}

.divideralign{
    padding-top: 10px;
}
.boxinfo{
    margin-top: 21px;
    max-width: 100px;
    height: 100px;
    background-color: $gray;
    border-radius: 10px;
    color: $white;
    margin-bottom: 21px;
}
.sername{
    padding-left: 15px;
    padding-top: 15px;
}
.desclass{
    max-width:100px;
   
}
.hidepara{
    color: $white;
}

/deep/ .mat-step-header .mat-step-icon {
    background-color: $yellow;
    color: $white;
}
.placeorder{
height: 100px;
max-width:350px;
background-color: #f3f3f3;
margin-top: 15px;
border: 1px solid;
border-color: #b9b7b7;
}
.alignment{
    padding-top: 10px;
}
.pendingcolor{
    color: $bluebutton;
}