    <div fxLayout="row" fxLayoutAlign="start center" >
      
        <button mat-raised-button class="fundoobutton">fundooNotes</button>
    
        <mat-progress-bar mode="determinate"  color="grey"></mat-progress-bar>
        <img src="../../../assets/Icons/baseline-shopping_cart-24px.svg" class=icononbar [ngClass]="{'changeicon': flag==true , 'changeicons': nextflag==true }">
      </div>
      <div class="widthforshopping"  *ngIf="flag===false">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="mat-h2">Shopping cart</h2>
        <p class="hidepara">hiddennnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
       
       <p>price</p>
       <p>validity</p>
       <p class="hidepara">hiddennnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
          </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between start">
       <div class="boxinfo">
       
        <div class="sername"> $ {{price}} per month {{name}}</div>
     </div>
     <div fxLayout="column" fxLayoutAlign="start start" >
        <div class="packdetails">{{name}} Pack Details</div>
        <ul>
          <li class="desclass">{{description}}</li>
         
        </ul>
       
        </div>
        <h4 class="mat-h4">${{price}}</h4>
        <h4 class="mat-h4">month</h4>
        <div class="placeorder">
          <div fxLayout="column" fxLayoutAlign="center center" class="alignment">
            <button mat-raised-button class="buttonpay" (click)="checkout()">Proceed to checkout</button>
                <p class="pricecolor">subtotal (1 item):${{price}}</p>
              </div>
         </div>
      </div>
      
     <mat-divider></mat-divider>
  
    </div>

<div  *ngIf="flag===true && nextflag===false">
    <div fxLayout="column" fxLayoutAlign="start center" class="headings">
        <h2 class="mat-h2">Review your order</h2>
        <h5 class="mat-h5">By clicking on "Place your order and Pay" button,you agree to fundooNotes privacy and conditions</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-card class="cardwidth" [class.mat-elevation-z3]="!isActive">
          <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-card class="innercard" [class.mat-elevation-z0]="!isActive">$ {{price}} per month
              <div class="servicename">{{name}}</div>
            </mat-card>
            <div fxLayout="column" fxLayoutAlign="start start" >
            <div class="packdetails">{{name}} Pack Details</div>
            <ul>
              <li>{{description}}</li>
             
            </ul>
           
            </div>
           
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" >
          <div fxLayout="column" fxLayoutAlign="center center" class="bottommenu">
        <mat-label> Delivery Address</mat-label>
        <textarea [formControl]='address'></textarea>
        <h4 class="align">Payment Method : cash on delivery</h4>
      </div>
     
    </div>
      </mat-card>
      <div class="placeorder">
      <div fxLayout="column" fxLayoutAlign="center center" class="alignment">
          <button mat-raised-button class="buttonpay" (click)="place()">Place your order</button>
              <p class="pricecolor">subtotal (1 item):${{price}}</p>
            </div></div>
    </div>
  </div>

  <div *ngIf="nextflag===true" class="widthforshopping">
  <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 class="mat-h2">Order list</h2>
    
        </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="space-between start">
     <div class="boxinfo">
     
      <div class="sername"> $ {{price}} per month {{name}}</div>
   </div>
   <div fxLayout="column" fxLayoutAlign="start start" >
      <div class="packdetails">{{name}} Pack Details</div>
      <ul>
        <li class="desclass">{{description}}</li>
       
      </ul>
     
      </div>
      <div fxLayout="column">
      <h4 class="mat-h4 pricecolor" >${{price}}</h4>
      <h4 class="mat-h4 pricecolor" > per month</h4>
      <p class="pendingcolor">{{status}}</p></div>
    </div>
   <mat-divider></mat-divider>
  </div>
