.sidenavBar {
    position: absolute;
    min-width: 300px;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  background-color: #ffffff;
  }
  .sideNavList {
   width: 250px;
   background-color: #ffffff;
   }
  
  .sideNavListItems .mat-icon,
  .sideNavlistItemsColored .mat-icon {
  padding-left: 10px;
  padding-right: 30px;
  }
  
   .sideNavlistItemsColored {
       background-color: #feefc3 !important;
       color: rgba(0, 0, 0, 0.8);
       }
       .sideNavListItems:hover {
           background-color: #e6e6e6;
           }
           .sidenavContent {
               background-color: rgb(255, 255, 255); // max-width: 600px;
               max-width: -webkit-fill-available;
               margin-left: 200px;
               overflow: hidden !important;
               }
   .sideNavListItems,
  .sideNavlistItemsColored {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 250px;
  font-size: 15px;
  padding: 8px;
  background-color: #ffffff;
  color: #5f6368;
  align-items: baseline;
  text-align: left;
  }
  
  .fundooIcon{
      height:30px;
      width: 30px;
      padding-top: 10px;
  
  }
  .dashboardTitle{
      display: block;
     
  }
  .searchdiv{
      background-color: #f5f5f5;
      border-radius: 10px;
  }
  .search{
  width: 502px;
  max-width: 502px;
  margin-bottom: 4px;}
  .searchdivv{
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .searchh{
  width: 502px;
  max-width: 502px;
  margin-bottom: 4px;}
  .serachbutton{
    display:none;
  }
  .listview{
    display: block;
  }
  .accountButton {
    width: 40px;
    height: 40px;
   
    border-radius: 30px;
    font-size: x-large;

    
    }
    .profileButton {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        width: 100px;
        height: 100px;

        border-radius: 150px;

        padding-right: 10px;
        }
  
  @media(max-width:500px){
    .fundooIcon{
        height:30px;
        width: 30px;
        padding-top: 10px;
        
    }
    .search{
        width: 202px;
        max-width: 202px;
      margin-bottom: 4px;}
    .dashboardTitle{
        display: none;
    } 
  .serachbutton{
    display: block;
  }
  .listview{
    display: none;
  }
  .searchdivv{
  display: none;
  }
  .searchh{
  display: none;}
  }
  mat-toolbar{
    background-color: white;
  }