<div fxLayout="column" fxLayoutAlign="center center" >
<mat-label>pinned</mat-label>
<div fxLayout={{message}} fxFlex="100"  fxLayoutAlign="center center" >

            <div *ngFor="let note of cardArray | search:Search; let i = index">
                <div *ngIf="note.isArchived===false">
                        <div *ngIf="note.isDeleted===false">
                                <div *ngIf="note.isPined===true">
                    <div fxLayout="row wrap" fxLayoutAlign="center center" >
                            <div class="cards" >
                            <mat-card class="card-width" [ngStyle]="{'backgroundColor': note.color}" [ngClass]="{'cardWidth': message=='column wrap'}" [class.mat-elevation-z0]="!isActive">
                             
                                <div fxLayout="column" >                       
                            <div fxLayout="row" fxLayoutAlign="space-between center" >
                                
               <div class="title" [style.fontSize.px]=19 (click)="openDialog(note,note.reminder)"> {{note.title}}</div>        
               <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin(note)">
                  
                    <div *ngIf="note.isPined === true">
                        <mat-icon style="font-size: 20px" class="mat-18 changeColor" svgIcon="pinIcon"></mat-icon>
                    </div>
                  </button></div>
               <div class="description">{{note.description}}</div> 
               <div fxLayout="row">
               <mat-chip-list >
                    <div *ngFor="let col of note.collaborators">
                        <div class="alignbutton">
                            <button  mat-mini-fab [class.mat-elevation-z2]="!isActive" [ngStyle]="{'backgroundColor': note.color}" (click)="openDialogCollaborate(note.user,note.id,col.email,col.userId)">{{col.email.slice(0,1).toUpperCase()}}
                            </button></div>
                        </div>
              </mat-chip-list>
             
               <mat-chip-list >
    
            <div *ngFor="let labels of note.noteLabels">
                    <mat-chip>{{labels.label}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
    </div>
                  </mat-chip-list>
                </div>
                <div *ngIf="note.reminder != ' '" class="reminderchip"> 
                    <mat-chip-list class="reminderchip">
      
                          <mat-chip [removable]="removable">{{note.reminder |  date:'medium'}}
                                 
                                      <mat-icon matChipRemove>cancel</mat-icon>
                                
                          </mat-chip>
      
                        </mat-chip-list></div>
           
                <mat-card-actions>
                  <div class="alignment">
                      <app-footermenu [data]="note"></app-footermenu>
                    </div>
              </mat-card-actions>
    </div>
        </mat-card></div>
    </div>
        </div>
      
      </div></div></div>
    
        <mat-menu #colorMenu="matMenu"  class="colorMenu" [overlapTrigger]="false">
    
                    <ng-template matMenuContent let-note="note">
                        <div fxLayout="row wrap" fxLayoutAlign="end
                         center" fxFlex="60">
                      <div *ngFor="let color of colorCode">
                       
                        <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
                  
                          <mat-icon  style="font-size: 40px"  class="colorIcons">fiber_manual_record</mat-icon>
                        </button>
                      </div>
                  </div>
                    </ng-template>
                  </mat-menu>
                      
    </div>

   
    <!-- <div *ngFor="let note of childMessage | search:Search; let i = index">
            {{note.title}}
    </div> -->
