.cards {
    background: #dfdfdf;
}
  mat-card{
      width:800px;
      height: 400px;
  }
  $mat-card-border-radius: 13px !default;
.mat-card {
  border-radius: $mat-card-border-radius;
 
}
.mat-grid-tile{
    border-radius: $mat-card-border-radius;
}
  mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
}
.example-name-main{
    font-size: 16px;
}
.example-name{
    font-size: 20px;
    color: black;
}
mat-form-field {
    padding: 0 .75em 0 .75em;
    margin-top: -.25em;
    position: relative;
    width: 301px;
}
.example-name-link{
    padding: 20px;
    color: #1a73e8;
      display: flex;
      justify-content: start;
      width: 200px;
      padding-top: 1px;
      padding-right: 120px;
    }
.logincard{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: center;
    align-items: center;
    margin-top: -10px;
}
.name-link{
    color: #1a73e8;
  }
  .button-colour{
    background-color: #1a73e8;
  }
  .button-name{
    color: white;
  }
  .card{
      padding-top: 100px;
  }
  .example-button{
    display: flex;
    justify-content:space-between;
    padding-left: 5px;
    padding-right: 15px;
    width:300px;
  }