<div fxLayout="row" fxLayoutAlign="space-evenly center" class="cards" >
        <div *ngFor="let i of details">
       <div class="zoom" (click)="openDialoge()"> <mat-card class="bottom"><mat-card ><mat-label class="label" >{{i.title}}</mat-label>
      <p class="paragraph">{{i.service_type}}</p>
      <ul>
        <div *ngFor="let j of i.features">
        <li>{{j.Pricing}}</li>
        <li>{{j.Ability_to_add}} {{j.more}} {{j.and}}</li>
       
      
      </div>
      </ul>
      <div class="allign"  fxLayoutAlign="end center" >Add to cart</div>
        </mat-card></mat-card></div>
       
          </div></div>