$width : 100%;

.basic-colour{
    background-color: aquamarine;
    justify-content: flex-start;
}
.table-width{
   
    width:$width;
}
.services-count{
    justify-content: center;
}
.alignbutton{
    padding-left: 600px;
}
