.labelsize{
    font-size: 20px;
    padding-top: 5px;
  
}
.labelsizee{
    padding-left: 8px;
    font-size: 21px;
    padding-top: 5px;
}
.inputalign{
    padding-top: 15px;
   
}
.editor{
    padding-top: 15px;
    
}
/deep/ .fr-quick-insert {
    position: absolute;
    z-index: 2147483639;
    white-space: nowrap;
    padding-right: 5px;
    margin-left: -5px;
    box-sizing: content-box;
    display: none;
}
.questionstyle{
    color: grey;
}
mat-card{
    width: 650px;
}
.details{
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
}
.account{
    padding-top: 14px;
   
}
.accountButton {
    width: 40px;
    height: 40px;
    //border: 1px solid;
    border-radius: 30px;
    font-size: x-large;
   // padding-right: 2px;
    
    }
    .editorclass {
        display: block;
    }
    .editorclasss {
        display: none;
    }
   .titlecard{
       padding-top: 5px;
   }