.dashboardTitle{
    padding-left: 5px;
   }
   mat-toolbar{
background-color: white;
   }
mat-card{
    height:260px;
    width: 240px;
}
.cardalign{
    padding-left: 60px;
    padding-top: 60px;
}
