<div fxLayout="column" fxLayoutAlign="center center">
  <h3>Archived notes</h3>
  <div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center">


    <div *ngFor="let note of data">
      <div *ngIf="note.isDeleted===false">

        <mat-card class="card-width" [ngStyle]="{'backgroundColor': note.color}" [class.mat-elevation-z0]="!isActive">
          <div fxLayout="column">

            <div class="title" [style.fontSize.px]=16 (click)="openDialog(note)"> {{note.title}}</div>

            <div class="description">{{note.description}}</div>
            <mat-chip-list>
              <div *ngFor="let col of note.collaborators">
                <div class="alignbutton">
                  <button mat-mini-fab color="accent"
                    (click)="openDialogCollaborate(note.user,note.id,col.email,col.userId)">{{col.email | slice:0:1}}
                  </button></div>
              </div>
            </mat-chip-list>
            <mat-chip-list>

              <div *ngFor="let labels of note.noteLabels">

                <mat-chip>{{labels.label}}

                  <mat-icon matChipRemove (click)="deletelabelforever(labels,note)">cancel</mat-icon>

                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
          <div class="alignment">
            <app-footermenu [data]="note"></app-footermenu>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>